%h1#short_url Bopia URL Shortner
#results
  %form
    %textarea#copytext{:readonly => "true"}= "http://#{request.host}/#{short_code}"
  %p
    Which links to:
    %a{:href => input_url}= "http://#{request.host}/#{short_code}"
  %p
    %a{:href => "/s"} Short another one →
